@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Form Styling */
  .form-label {
    @apply w-full max-w-max text-sm font-semibold md:text-base;
  }

  .form-input {
    @apply just-black border-2 bg-white px-2 py-1 font-medium shadow-full focus:outline-none focus:ring focus:ring-blue-500 disabled:bg-gray-200 disabled:text-opacity-75 md:text-lg;
  }

  .btn {
    @apply rounded-md border-2 px-4 py-2 text-center shadow-white transition duration-300 focus:outline-none focus:ring focus:ring-blue-500 enabled:hover:-translate-x-1 enabled:hover:-translate-y-1 enabled:hover:shadow-full disabled:brightness-75;
  }
  a.btn {
    @apply block w-fit hover:-translate-x-1 hover:-translate-y-1 hover:shadow-full;
  }
  .btn-strip {
    @apply enabled:hover:translate-0 rounded-none border-0 enabled:hover:shadow-none;
  }
  a.btn-strip {
    @apply hover:translate-0 hover:shadow-none;
  }

  /* Layout Styling */
  .d-full {
    @apply h-full w-full;
  }

  .split-layout {
    @apply grid md:grid-cols-[repeat(2,50%)];
  }

  .split-content-left {
    @apply flex items-center justify-center border-y-1.5 border-black px-4 py-8 first:border-t-3 md:justify-end md:border-y-3 md:border-r-1.5 md:px-10 md:py-16;
  }

  .split-content-right {
    @apply flex items-center justify-center border-y-1.5 border-black px-4 py-8 last:border-b-3 md:justify-start md:border-y-3 md:border-l-1.5 md:px-10 md:py-16;
  }

  .split-section-content {
    @apply w-full max-w-appContent-1/3;
  }

  /* Utility Styling */
  .just-black {
    @apply border-black bg-black text-black shadow-black;
  }

  .translate-0 {
    @apply translate-x-0 translate-y-0;
  }

  .newFocus {
    @apply focus:outline-none focus:ring focus:ring-blue-500;
  }

  /* Visual Cues */
  .link-underline {
    @apply relative before:absolute before:bottom-0 before:h-0.5 before:w-full before:origin-left before:scale-0 before:bg-black before:transition before:duration-300;
  }

  .link-underline-active {
    @apply before:scale-100;
  }

  .hocus-underline {
    @apply relative before:absolute before:bottom-0 before:h-0.5 before:w-full before:origin-left before:scale-0 before:bg-black before:transition before:duration-300 hocus:before:scale-100;
  }

  /* Repeated Styles */
  .card {
    @apply just-black border-3 bg-white p-3 shadow-full;
  }
}

:root {
  --max-app-width: 80rem;
  --nav-z-index: 100;
  --modal-z-index: 150;

  --dynamic-x-pad: max((100% - 71.25rem)/2, 4rem);

  --bs-offset-x: 4px;
  --bs-offset-y: 4px;

  --marqueeX-anim-duration: 30s;
  --rotate-anim-duration: 50s;
}

html,
body {
  min-height: 100vh;
}
